.divOfHistory{
    display: flex;
    flex-direction: row;
    width: 80%;
    align-content: center;
    justify-content: space-around;
}

.text-flex{
    display: flex;
    flex-direction: column;
}

.avatarOfUser{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}