.divOfImage{
    display: flex;
    align-items: center;
}

.collection-cover-image{
    margin-top: 50px;
    height: auto;
    width: 100%;
    margin-left: 5%;
    border-radius: 10px;
    margin-bottom: 30px;
}

.coverImageSection{
    height: 400px;
    width: 100%;
}

.collection-avatar{
    display: block;
    margin-top: -70px;
    position: relative;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.collectionHero h1{
text-align: center;
}